* {
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    background: #ffffff;
    margin: 0px;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    padding: 5px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.045);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    box-shadow: 1px 12px 19px -9px rgba(0,0,0,0.97);
}

nav ul {
    display: flex;
    align-items: center;
    padding-right: 50px;
}

nav ul li:not(:last-child) {
    margin-right: 50px;
}

nav h1 {
    padding-left: 20px;
    font-size: 25px;
    text-transform: capitalize;
}

nav ul li a {
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    color: rgb(0, 0, 0);
}

.Main_0f_Top {
    width: 100%;
    height: 700px;
    margin: 0;
    display: flex;
}

.my_photo {
    width: 50%;
    height: 700px;
    background: url("./img/pngwing.com\ \(3\).png") center/cover;
    border: none;
    margin-right: 30px;
}

.my_photo img {
    width: 550px;
    position: relative;
    left: 250px;
    bottom: 100px;
}

.my_name {
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
    position: relative;
    left: 80px;
    text-align: center;
}

.my_name h1 {
    width: 300px;
    font-size: 66px;
    margin-bottom: 5px;
    position: relative;
    right: 20px;
}

.background_of_name {
    width: 400px;
    height: 400px;
    ;
    transform: rotate(45deg);
    position: relative;
    top: 130px;
    left: 100px;
    border: none;
    box-shadow: 0px 0px 35px 22px rgba(24, 25, 26, 0.2);

}

.background_of_name:hover {
    transform: rotate(405deg);
    transition: 1s;
}

.my_name p {
    font-size: 20px;
    margin: 0;
    position: relative;
    right: 60px;
}

.Main_Section {
    width: 100%;
    margin: 0;
}

.Main_Block {
    width: 80%;
    margin: 100px auto;
    text-align: center;
    height: 400px;
}

.Main_Block h3 {
    font-size: 35px;

}

.Main_Cards {
    display: flex;
    margin: 100px 0;
}

.card_picks {
    width: 100%;
    margin: 10px;
}

.pick_text {
    display: flex;
    margin-right: 10px;
    height: 80px;
}

.pick_text img {
    width: 82px;
    object-fit: contain;
    border-radius: 50%;
}

.pick_text h3 {
    font-size: 25px;
    margin-left: 10px;
}

.text_p p {
    width: 300px;
    font-size: 15px;
    line-height: 25px;
    color: rgb(34, 34, 34);
}

.Main_Block_Picks {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
}

.text_main_block {
    width: 77%;
    text-align: center;
}

.text_main_block h2 {
    padding-top: 50px;
    font-size: 35px;
}

.text_main_block h3 {
    font-size: 35px;
    text-decoration: underline;
}

.photo img {
    width: 580px;
    margin: 20px;
    object-fit: contain;
    border-radius: 20px;
    transition: 1s;

}

.photo_container {
    width: 80%;
    margin: 100px auto;
    border: none;
}

.photo_section {
    width: 100%;
}

.photo {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.text_in_photo{
    transition: 1s;
    width: 50%;
    margin: 20px;
    font-size: 15px;
    border-radius: 20px;
    padding: 60px 120px; 
    
}
.text_in_photo h6{
    font-size: 20px;
    margin: 20px 0;
}
.text_in_photo p {
    width: 300px;
    margin: 20px;
    font-size: 15px;
    border-radius: 10px;

}

.photo img:hover {
    transform: scale(1.5);
}

.text_in_photo:hover {
    box-shadow: 0px 0px 35px 22px rgba(41, 41, 42, 0.121);
}

.footer_container{
    width: 100%;
    margin: 0;
    height: 300px;
    display: flex;
    box-shadow: 0px -7px 14px -4px rgba(0,0,0,0.68);
    background-color: rgba(0, 0, 0, 0.045);
}

.img-in-footer img{
    width: 900px;
    position: relative;
    top: 20px;
}

.contacts{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: relative;
    right: 100px;
}

.text_contacts h3{
    text-align: center;
    font-size: 30px;
    margin: 30px 20px 0;
}
.contacts-in-footer{
    display: flex;
    width: 700px;
}

.links_contacts{
    margin: 0px 30px;
    display: flex;
}

.links_contacts ul li{
    margin: 10px;
    font-size: 19px;
    color: rgb(68, 68, 68);
}

.links_contacts ul li a{
    color: rgb(68, 68, 68);
}
.links_contacts img{
    width: 50px;
    margin: 10px;
    position: relative;
    top: 25px;
}

